version: "3.9"

services:
  web:
    build: .
    container_name: resume_parsing_dashboard
    ports:
      - "8000:8000"
    volumes:
      - ./media:/app/media
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
